---
title: Our team
description: >-
  The International Center for Peace and Integration (ICPI) is a Georgian
  not-for-profit nongovernmental organization with a mission to provide the
  platform for the development of self-aware, progressive and engaged youth in
  civil society. We encourage personal growth, innovation and positive change
  through critical thinking, intercultural understanding, support for new
  initiatives and collaboration. The team of ICPI promotes democratic values,
  peace-building and social entrepreneurship for a more sustainable society. We
  believe in the power of education as a means to plant the seeds of change in
  attitude and action. 

  Since 2011 ICPI is implementing non formal learning programs in the following
  fields:

  ·        Social entrepreneurship

  ·        Collaborative Consumption and Social Economy

  ·        Confidence building

  ·        Management of Migration

  ·        Non-violent communication and conflict management

  ·        Personal Development

  ·        Environmental challenges and outdoor activities
   
  Since 2015 ICPI is running the social enterprise - "Generator 9.8" - Coworking
  space & Social bar [https://www.facebook.com/Generator9.8Geo/]. First
  non-profit Coworking Space & Social Bar in Georgia, based on volunteering and
  sharing economy principles.
---
<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter }}">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
</ul>
