---
layout: default
title: Generator 9.8
section_id: generator
---

<div class='full parallax' style='background-image: url(images/1.jpeg); color: #fff;'>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="Generator 9.8" color="#fff" tagline="Our Social Enterpise" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

    
  </div>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our services" %}
      <div class='spacing'></div>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.
      </p>
      <div class='three spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='medium-6 columns'>
      <img class="fadeinleft" alt="" src="images/generator.png" />
      <div class='three spacing'></div>
    </div>
    <div class='medium-6 columns'>
        <h3>Generator 9.8</h3>
      <p><h4><strong>Vision of social enterprise</strong></h4>
Generator 9.8 is an inclusive and collaborative space. The network of change-makers who inspire positive impact on society through self-expression, education and innovation.
<h4><strong>Mission of the social enterprise</strong></h4>
Generator 9.8 provides an alternative and affordable co-working space combined with social bar for local and international professionals and creative thinkers from various fields. We offer a participative, supportive working space and platform for personal and professional development.

Community 9.8 shares core values and principles that contribute to common growth and the generation of positive change in the world. It is an inclusive and collaborative space. The network of change makers, who inspire positive impact on society through self-expression, education and innovation.

Generator 9.8 has been awarded as the best social enterprise of the year 2016 by Ministry of Sports and Youth Affairs of Georgia and the concept was presented on TEDx Tbilisi the same year (<a href="https://www.youtube.com/watch?v=NhD6U23UlMg">https://www.youtube.com/watch?v=NhD6U23UlMg</a>).</p>
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{service.icon}}'></i>
            <h3>{{service.title}}</h3>
            <p>{{service.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
    </div>
  </div>
  <div class='spacing'></div>
</div>

