---
title: Pricing
heading: Find the perfect plan for your business
description: >-
  All plans include our award winning sales optimization solution to track your
  sales in real time.
pricing_table:
  - name: Basic
    color: '#8e8e8e'
    features:
      - text: >-
          Personal Development projects can help to identify the skills which
          are needed to set life goals, this can raise the confidence of young
          participants, enhance their employability prospects and develop their
          communication skills, how they relate with themselves & others what
          will lead to a more fulfilling, higher quality life.

          This projects can help to stimulate the self-development process

          of the participants.

          The main aim and objectives are:

          To increase employability and participation of youth workers, develop
          their

          professional skills and increase their efficiency we give the tools
          and processes of coaching and supporting the youngsters in own
          communities.

          To get tools of empathic communication and conflict transformation
          known for their daily life and work.

          To  assist the participants  to “get out of the box”, stop clichés,
          enlarge their “comfort zone” and maximize their creativity and see
          themselves and everything around as a possibility.

          The methodology of this trainings courses is based on learning by
          doing, which refers to the process of making meanings from direct
          experience.

          To give motivation and passion that enrich the learning experience.
          The methodology is based on the concepts of developing and challenging
          individuals and groups through a creative.

          The exercises which called ‘processes’ is may involve talking, while
          in another participants will be listening or visualizing certain
          thoughts.

          Our exercises will be provided in combination with music, dancing or
          playing also we provide in the trainings indoor and outdoor processes.

          The Participants will get intercultural experience by meeting
          different countries, cultures, backgrounds, religions to practice
          tolerance and break stereotypes & prejudices.

          They will learn to improve and make, positive and effective life
          choices and decisions for their future to enable personal empowerment.
        highlight: true
    call_to_action:
      link: 'http://mysite.com?plan=basic'
      text: Get started
  - name: Pro
    color: '#4a4a4a'
    features:
      - text: $99 per month
        highlight: true
      - text: Everything in Basic
        highlight: false
      - text: Up to 25 users
        highlight: false
      - text: Advanced lead scoring
        highlight: false
      - text: Pipeline management
        highlight: false
      - text: Advanced reporting
        highlight: false
    call_to_action:
      link: 'http://mysite.com?plan=pro'
      text: Get started
  - name: Professional
    color: '#000000'
    features:
      - text: $299 per month
        highlight: true
      - text: Everything in Basic and Pro
        highlight: false
      - text: Up to 100 users
        highlight: false
      - text: Campaign builder
        highlight: false
      - text: Machine learning
        highlight: false
      - text: Calendar
        highlight: false
    call_to_action:
      link: 'http://mysite.com?plan=professional'
      text: Get started
faq:
  - question: What types of payment do you accept?
    answer: 'Credit cards including MasterCard, Visa or American Express.'
  - question: Can I change my plan at a later time?
    answer: 'Yes, you can upgrade and downgrade your plan at anytime.'
  - question: Do you offer pricing for nonprofit organizations?
    answer: 'Yes, send us a message and we''ll set you up on our nonprofit pricing.'
  - question: Questions?
    answer: 'Contact us for any further questions at <a href="#">john@business.com</a>.'
---
<div class="plans">
	{% for plan in page.pricing_table %}
		<ul class="plan">
			<li style="background: {{ plan.color }}">
				<h3>{{ plan.name }}</h3>
			</li>
			{% for feature in plan.features %}
				<li {% if feature.highlight %} class="highlighted"{% endif %}>{{ feature.text }}</li>
			{% endfor %}

			{% if plan.call_to_action %}
				<li class="pricing-cta"><div class="button"><a style="background: {{ plan.color }}" href="{{ plan.call_to_action.link }}">{{ plan.call_to_action.text }} &rarr;</a></div></li>
			{% endif %}
		</ul>
	{% endfor %}
</div>

{% if page.faq %}
	<h2>Pricing FAQ</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %}
